nav
{
    padding: 10px 20px;
    background-color: rgb(75, 168, 254);
}

nav ul
{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li
{
    color: black;
    font-weight: 500;
}














































































































